.leftRightAnimation {
    position: relative;
    animation-name: leftRightJavascript;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes leftRightJavascript {
    0% {
        left: -0%;
        top: -220px;
    }

    25% {
        left: -5%;
        top: -220px;
    }

    100% {
        left: -0%;
        top: -220px;
    }
}

.upDownAnimation {
    position: relative;
    animation-name: upDownFirebase;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes upDownFirebase {
    0% {
        left: 45%;
        top: -300px;
    }

    75% {
        left: 45%;
        top: -400px;
    }

    100% {
        left: 45%;
        top: -300px;
    }
}

.upDownAnimationReact {
    position: relative;
    animation-name: upDownReact;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes upDownReact {
    0% {
        left: 90%;
        top: -150px;
    }

    25% {
        left: 90%;
        top: -200px;
    }

    100% {
        left: 90%;
        top: -150px;
    }
}

.upDownAnimationMongoDB {
    position: relative;
    animation-name: upDownMongoDB;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes upDownMongoDB {
    0% {
        left: 30%;
        top: -400px;
    }

    75% {
        left: 30%;
        top: -480px;
    }

    100% {
        left: 30%;
        top: -400px;
    }
}

.leftRightAnimationNode {
    position: relative;
    animation-name: leftRightNode;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes leftRightNode {
    0% {
        left: 0%;
        top: -650px;
    }

    25% {
        left: 5%;
        top: -650px;
    }

    100% {
        left: 0%;
        top: -650px;
    }
}

.leftRightAnimationCSS {
    position: relative;
    animation-name: leftRightCSS;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes leftRightCSS {
    0% {
        left: 20%;
        top: -550px;
    }

    25% {
        left: 15%;
        top: -550px;
    }

    100% {
        left: 20%;
        top: -550px;
    }
}